body {
  font-family: Futura, Arial, Helvetica, sans-serif;
  margin: 50px;
}

.status-container {
}

.cards-container {
  display: inline-block;
  min-width: 120px;
  height: 180px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 0;
}

.hide {
  display: none;
}
